## 1. Download a timeseries of daily deaths per country

In [3]:
import pandas as pd
import numpy as np
import bokeh

# Download daily deaths per country from Github repo raw csv file and save to Pandas dataframe
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'

deaths_df = pd.read_csv(url, error_bad_lines=False)

# Write daily deaths dataframe to CSV file (for reference)
deaths_df.to_csv('time_series_covid19_deaths_global.csv', index = False, header=True)

## 2. Unpivot table

In [5]:
# Aggregate deaths by country
grouped_deaths_df = deaths_df.groupby('Country/Region').sum()

# Drop 'Lat' and 'Long' columns 
grouped_deaths_df = grouped_deaths_df.drop(["Lat", "Long"], axis=1)

# Reset index
grouped_deaths_df = grouped_deaths_df.reset_index()

# Get date headers
date_headers = list(grouped_deaths_df.columns[1:].values)

# Convert data from wide form to long form
long_df = pd.melt(grouped_deaths_df, id_vars= ['Country/Region'], value_vars= date_headers)

# Rename Columns
long_df = long_df.rename(columns={"Country/Region": "country", "variable": "date", "value": "total_deaths"}, errors="raise")

# Change date column type
long_df['date'] = pd.to_datetime(long_df['date'])

## 3. Calculate the daily change in deaths for each country

In [6]:
# Add deaths_change column to dataframe in Step 2
long_df.insert(3, 'deaths_change',0)

# Get list of unique country names
countries = list(long_df['country'].unique())

# Calculate deaths_change for each country in 'countries' list

for country in countries:
    # Set temporary df for country
    temp_df = long_df.loc[long_df['country'] == country]
    
    # Find difference between rows (returns difference results dataframe)
    diff = temp_df['total_deaths'].diff()
    
    # Apply difference calculation to original long_df according to index
    long_df.iloc[diff.index,3] = diff
    
# Remove NaN values from dataframe
long_df = long_df.fillna(0)

## 4. Plot Total and Change of Covid-19 Deaths of Top 20 Countries

In [8]:
# Find latest date
latest_date = long_df['date'].max()

# Get Top_20 highest Covid-19 deaths of countries
latest_deaths_df = long_df[long_df['date'] == latest_date]
latest_deaths_df = latest_deaths_df.sort_values(by='total_deaths', ascending=False)[0:19]
 
grp_list = list(latest_deaths_df['country'])
grp_list.append('Australia')

In [9]:
grp_list

['US',
 'Brazil',
 'Mexico',
 'United Kingdom',
 'India',
 'Italy',
 'France',
 'Spain',
 'Peru',
 'Iran',
 'Russia',
 'Colombia',
 'Belgium',
 'Chile',
 'Germany',
 'Canada',
 'South Africa',
 'Netherlands',
 'Pakistan',
 'Australia']

In [10]:
grp_df = long_df[long_df['country'].isin(grp_list)]

In [11]:
grp_df

              country       date  total_deaths  deaths_change
8           Australia 2020-01-22             0            0.0
16            Belgium 2020-01-22             0            0.0
23             Brazil 2020-01-22             0            0.0
32             Canada 2020-01-22             0            0.0
35              Chile 2020-01-22             0            0.0
...               ...        ...           ...            ...
36800          Russia 2020-08-04         14327          144.0
36816    South Africa 2020-08-04          8884          345.0
36818           Spain 2020-08-04         28498           26.0
36834              US 2020-08-04        156862         1400.0
36838  United Kingdom 2020-08-04         46295            0.0

[3920 rows x 4 columns]

## 5. Plot Australia and US graphs of Total Deaths

In [7]:
from bokeh.plotting import figure, output_file, show
from bokeh.models import ColumnDataSource
from bokeh.palettes import Category20

us_df = long_df[long_df['country'] == 'US']
us_df = us_df[us_df['total_deaths']>0]
aus_df = long_df[long_df['country'] == 'Australia']
aus_df = aus_df[aus_df['total_deaths']>0]
my_df = long_df[long_df['country'] == 'Malaysia']
my_df = my_df[my_df['total_deaths']>0]

In [8]:
# Prepare and plot US Deaths Data
deaths_array = np.array(us_df['total_deaths'])
dates_array = np.array(us_df['date'], dtype=np.datetime64)

window_size = 30

# output to static HTML file
output_file("total_US_deaths.html", title="Timeline of US Covid-19 Deaths")

# create a new plot with a datetime axis type
p = figure(plot_width=700, plot_height=400, x_axis_type="datetime", sizing_mode="scale_both")

# add renderers
p.line(dates_array, deaths_array, color='navy', legend_label='total deaths', line_width =2)

# NEW: customize by setting attributes
p.title.text = "Timeline of US Covid-19 Deaths"
p.legend.location = "top_left"
p.grid.grid_line_alpha = 1
p.xaxis.axis_label = 'Date'
p.yaxis.axis_label = 'Total Deaths'
p.ygrid.band_fill_color = "grey"
p.ygrid.band_fill_alpha = 0.05

# show the results
show(p)

In [9]:
# Prepare and plot Australia Deaths Data
deaths_array = np.array(aus_df['total_deaths'])
dates_array = np.array(aus_df['date'], dtype=np.datetime64)

window_size = 30

# output to static HTML file
output_file("total_Australia_deaths.html", title="Timeline of Australia Covid-19 Deaths")

# create a new plot with a datetime axis type
p = figure(plot_width=700, plot_height=400, x_axis_type="datetime", sizing_mode="scale_both")

# add renderers
p.line(dates_array, deaths_array, color='navy', legend_label='total deaths', line_width =2)

# NEW: customize by setting attributes
p.title.text = "Timeline of Australia Covid-19 Deaths"
p.legend.location = "top_left"
p.grid.grid_line_alpha = 1
p.xaxis.axis_label = 'Date'
p.yaxis.axis_label = 'Total Deaths'
p.ygrid.band_fill_color = "grey"
p.ygrid.band_fill_alpha = 0.05

# show the results
show(p)

In [10]:
# Prepare and plot Malaysia Deaths Data
deaths_array = np.array(my_df['total_deaths'])
dates_array = np.array(my_df['date'], dtype=np.datetime64)

window_size = 30

# output to static HTML file
output_file("total_Malaysia_deaths.html", title="Timeline of Malaysia Covid-19 Deaths")

# create a new plot with a datetime axis type
p = figure(plot_width=700, plot_height=400, x_axis_type="datetime", sizing_mode="scale_both")

# add renderers
p.line(dates_array, deaths_array, color='navy', legend_label='total deaths', line_width =2)

# NEW: customize by setting attributes
p.title.text = "Timeline of Malaysia Covid-19 Deaths"
p.legend.location = "top_left"
p.grid.grid_line_alpha = 1
p.xaxis.axis_label = 'Date'
p.yaxis.axis_label = 'Total Deaths'
p.ygrid.band_fill_color = "grey"
p.ygrid.band_fill_alpha = 0.05

# show the results
show(p)

## 4. Plot Top 20 Countries Total Deaths

In [11]:
#bokeh - multi_linegrp_list = df.group.unique()
ys = [grp_df.loc[grp_df.country == i].total_deaths for i in grp_list]
xs = [grp_df.loc[grp_df.country == i].date for i in grp_list]
source = ColumnDataSource(data=dict(
     x = xs,
     y = ys,
     color = (Category20[20]),
     group = grp_list))
p3 = figure(plot_width=700, plot_height=500, x_axis_type="datetime", sizing_mode="scale_both")
p3.multi_line(
     xs='x',
     ys='y',
     legend='group',
     source=source,
     line_color='color',
line_width = 3)

p3.title.text = "Top 20 Countries + Australia Covid-19 Total Deaths (cumulative) "
p3.legend.location = "top_left"
p3.xaxis.axis_label = 'Date'
p3.yaxis.axis_label = 'Total Deaths'

output_file("top20_total_covid_deaths.html", title="Top 20 Countries + Australia Covid-19 Total Deaths (cumulative) ")
show(p3)

BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead

## 4. Plot Top 20 Countries Daily Deaths

In [12]:
#bokeh - multi_linegrp_list = df.group.unique()
ys = [grp_df.loc[grp_df.country == i].deaths_change for i in grp_list]
xs = [grp_df.loc[grp_df.country == i].date for i in grp_list]
source = ColumnDataSource(data=dict(
     x = xs,
     y = ys,
     color = (Category20[20]),
     group = grp_list))
p3 = figure(plot_width=700, plot_height=500, x_axis_type="datetime", sizing_mode="scale_both")
p3.multi_line(
     xs='x',
     ys='y',
     legend='group',
     source=source,
     line_color='color',
line_width = 3)

p3.title.text = "Top 20 Countries + Australia Covid-19 Daily Deaths (rate of change) "
p3.legend.location = "top_left"
p3.xaxis.axis_label = 'Date'
p3.yaxis.axis_label = 'Daily Deaths'

output_file("top20_daily_covid_deaths.html", title="Top 20 Countries + Australia Covid-19 Daily Deaths (rate of change)")
show(p3)

BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead

In [13]:
grp_df

              country       date  total_deaths  deaths_change
8           Australia 2020-01-22             0            0.0
16            Belgium 2020-01-22             0            0.0
23             Brazil 2020-01-22             0            0.0
32             Canada 2020-01-22             0            0.0
35              Chile 2020-01-22             0            0.0
...               ...        ...           ...            ...
36236          Russia 2020-08-01         14034           95.0
36252    South Africa 2020-08-01          8153          148.0
36254           Spain 2020-08-01         28445            0.0
36270              US 2020-08-01        154447         1133.0
36274  United Kingdom 2020-08-01         46278           74.0

[3860 rows x 4 columns]